In [1]:
s1="This is Nischal"
s2='I am Nischal'

In [2]:
import numpy as np

In [3]:
np.char.add(s1,s2) #Concatination

array('This is NischalI am Nischal', dtype='<U27')

In [4]:
np.char.upper(s1) #converting to upper

array('THIS IS NISCHAL', dtype='<U15')

In [6]:
np.char.lower(s1) #converting to lower

array('this is nischal', dtype='<U15')

In [7]:
np.char.split(s1) #splits the words whenever finds a space and all the words are placed in a list

array(list(['This', 'is', 'Nischal']), dtype=object)

In [12]:
s3="Nischal \n Baidar"
print(s3)

Nischal
 Baidar

In [13]:
np.char.splitlines(s3) #used to split lines whenever \n is encountered

array(list(['Nischal ', ' Baidar']), dtype=object)

In [16]:
s1

'This is Nischal'

In [20]:
np.char.replace(s1,'Nischal',"Baidar")  #replaces nischal with baidar

array('This is Baidar', dtype='<U14')

In [18]:
s2=np.char.replace(s1,'Nischal',"Baidar")

In [19]:
s2

array('This is Baidar', dtype='<U14')

In [21]:
print("********************Nischal******************")

********************Nischal******************

In [22]:
print(np.char.center("Nichal",100,"*")) #all the 100 places are kept with star and Nischal is placed at the center

***********************************************Nichal***********************************************